<p>Contact Page</p>

<form action="/contact" method="POST">
    <label for="firstname">First Name</label><br>
    <input type="text" name="fitstname" id="firstname"><br>
    <label for="lastname">Last Name</label><br>
    <input type="text" name="lastname" id="lastname"><br>
    <input type="submit" value="Submit">
</form>